{% extends 'flatpages/default.html' %}

{% load custom_filters_newsportal %}

{% block title %}
<title>Новостной портал</title>
{% endblock title %}

{% block content %}
    <h1>Всего новостей - {{ posts|length }}</h1>
    <hr>
    {% if posts %}
           {% for post in posts %}
           <tr>
                {{ post.title|censor }} &nbsp&nbsp | &nbsp&nbsp
                {{ post.dateCreation|date:'d.m.Y'}} &nbsp&nbsp | &nbsp&nbsp
                {{ post.text|truncatewords:20|censor}}
                <br>
           {% endfor %}
   {% else %}
       <h2>Новостей нет</h2>
   {% endif %}
{% endblock content %}